* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(21, 28, 45);
    color: white;
}

/* header styling */

header {
    /* padding: 20px 35px; */
    border: 1px solid red;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    background-color: rgba(14, 14, 30, 0.79);
}


#logo {
    height: 150px;
}

header nav ul {
    padding: 20px 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    }


li a {
    color: white;
    text-decoration: none;
}

a:active {
    color: red;
}

header #main-header {
   text-align: center;
   padding: 20px 0px 0px 0px;
}

header #sub-header {
    text-align: center;
    padding: 0px 0px 20px 0px;
 }

/* index styling */
.main-content {
border: 1px solid red;
margin: 50px 350px;
}

.mantis {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
    height: 100%;
}
/* footer styling */

#activePage {
    text-align: center;
    padding-top: 15px;
    color: red;
}

/* FAQ section*/

#quote {
    font-style: italic;
    text-align: center;
    margin: 25px;
    font-size: 20px;
}

#headerContent {
    font-size: 25px;
    padding: 10px;
}

#paraContent {
    font-size: 20px;
    padding: 5px;
    padding-bottom: 20px;
    margin: 15px;
}